<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title=#{application.title}">
<th:block layout:fragment="content">
  <div class="jumbotron">
    <div class="container" th:if="${userName} == null">
      <h1 class="page-header" th:text="#{home.welcome}">[welcome]</h1>

      <p th:text="#{home.intro}">[intro]</p>
    </div>

    <div class="container" th:if="${userName} != null">
      <h1 class="page-header" th:text="#{home.welcomeUser(${userName})}">[welcome]</h1>

      <p th:text="#{home.intro}">[intro]</p>
      <p><a class="btn btn-primary btn-lg" th:href="@{/users}" role="button" th:text="#{navigation.go_to_users}">[Go to
        users]</a></p>
    </div>
  </div>
</th:block>
</html>
