<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title=#{application.title}">
<th:block layout:fragment="content">
    <div class="container">
        <header class="header">
            <ol class="breadcrumb text-right">
                <li>
                  <div th:if="${userName} == null">
                    <a th:href="@{/login}">
                      <button class="btn btn-sm btn-default btn-primary-spacing" th:text="Login"></button>
                    </a>
                  </div>
                  <div th:if="${userName} != null">
                    <form th:action="@{/logout}" th:method="post">
                      <button class="btn btn-sm btn-default btn-primary-spacing" th:text="Logout"></button>
                    </form>
                  </div>
                </li>
                <li><a th:href="@{/}" th:text="#{user.home}">[home]</a></li>
            </ol>

            <span class="logo"></span>
        </header>

        <main role="main">
          <div th:if="${userName} == null">
            <h2 th:text="#{home.welcome}">[welcome]</h2>
          </div>
          <div th:if="${userName} != null">
            <h2 th:text="#{home.welcomeUser(${userName})}">[welcome]</h2>
          </div>
          <p th:text="#{home.intro}">[intro]</p>
        </main>
    </div>
</th:block>
</html>
