<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
      th:with="title=#{user.title(${user.username})}">
<th:block layout:fragment="content">
  <div class="container">
    <main role="main">
      <h1 th:text="#{user.title(${user.username})}">[username]</h1>

      <div th:insert="~{fragments/user :: details}"></div>

      <div>
        <form th:action="@{${self}}" th:method="delete">
          <button class="btn btn-sm btn-default btn-primary-spacing" th:text="#{user.delete}"></button>
          <a class="btn btn-primary btn-sm" th:href="@{${collection}}" role="button"
             th:text="#{user.back_to_users}">[Back]</a>
        </form>
      </div>
    </main>
  </div>
</th:block>
</html>
