<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title=#{application.title}">
<th:block layout:fragment="content">
    <div class="container">
        <header class="header">
            <ol class="breadcrumb text-right">
            </ol>

            <span class="logo"></span>
        </header>

        <main role="main">
        LOGIN
        </main>
    </div>
</th:block>
</html>
